.overview-table {
  text-align: center;
}

.overview-table__thead {
  font-size: 13px;
}

.overview-table__th {
  max-width: 100px;
  background-color: #2C3446;
  padding: 5px 0;
}

.overview-table__header-text {
  text-align: left;
  margin: 0 10px;
}

.overview-table__td {
  width: 80px;
  padding: 5px 10px;
}

.overview-table__images-td {
  width: 250px;
}

.overview-table__description-td {
  width: 80px;
  font-size: 12px;
}